/*common color*/

$white: #fff;
$black : #333;
/*theme color*/
$btn-color : #fff;

$link-hover : #ff3636;
$heading-color : #ff3636;
$btn-bg : #ff3636;
$link-color : #333;
$border-color : #333;
$btn-hover : #333;
