.header-area {
  position: fixed;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 999;
  transition: .5s;
  &.header-fixed{
    background-color: $white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    .logo{
        a{
        color: $black !important;
        border: 1px solid $black;
      }
    }
    .menu{
      ul{
        li{
          a{
            color: $black;
            
          }
        }
      }
    }
  }
  .logo {
    a {
      display: inline-block;
      color: $white;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      border: 1px solid $white;
      padding: 15px 10px;
    }
  }
  .menu {
    ul {
      li {
        a {
          display: block;
          color: $white;
          font-size: 16px;
          font-weight: 600;
          margin-left: 15px;
          text-transform: uppercase;
          transition: 0.3s;
          &:hover {
            color: $link_hover;
          }
        }
      }
    }
  }
}
